@model ProductModel
@{
    ViewData["Title"] = "CreateProduct";
}

<h1>Create Product</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="danger-alert" style="color:red;margin-bottom:10px;">@ViewBag.ErrorMessage</div>
        }
        <form asp-controller="Admin" asp-action="CreateProduct" method="post">
            <div class="form-group row">
                <label asp-for="Name" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" value="@Model.Name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="DiscountRate" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="DiscountRate" value="@Model.DiscountRate" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Description" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input id="editor" asp-for="Description" value="@Model.Description" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Price" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Price" value="@Model.Price" class="form-control" />
                </div>
            </div>
            <div class="form-group row mt-2">
                <div class="col-md-10">
                    <button type="submit" value="Save Product" class="btn btn-primary">Save Product</button>
                </div>
            </div>
        </form>
    </div>
</div>